.view_more {
  font-weight: 600;
  text-align: center;
}

.item {
  padding: 1rem;
  background: var(--cont-color);
  border-radius: 10px;
}

.item a {
  color: #fafafa;
  text-align: center;
}

.item:hover {
  background: #434549;
}

.item:hover a {
  text-decoration: none;
}

.timestamp {
  font-family: var(--sec-font);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.title {
  padding-top: 6px;
  font-size: var(--h3);
  letter-spacing: -0.25px;
}

.desc {
  margin: 0;
  padding-top: 6px;
}
