.item {
  position: relative;
  border-radius: 5px 5px 0 0;
}

.item:hover .title {
  color: var(--main-color);
}

.item a {
  color: #fafafa;
}

.top {
  position: relative;
}

.top img {
  border-radius: 5px 5px 0 0;
}

.tags {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.tags ul {
  display: flex;
  gap: 6px;
}

.tags ul li {
  background: var(--cont-color);
  padding: 5px;
  font-size: var(--tags-font-size);
  line-height: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.bottom {
  background: var(--cont-color);
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.title {
  padding: 12px 12px 0 12px;
  font-size: var(--h3);
  letter-spacing: -0.25px;
}

.desc {
  margin: 0;
  padding: 6px 12px 12px 12px;
}

@media (min-width: 768px) {
  .bottom {
    height: 134px;
  }
}
