@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@theme {
  --color-cyan: #54b5ff;

  --color-base-50: oklch(96.14% 0.001 286.38);
  --color-base-100: oklch(92.37% 0.003 228.79);
  --color-base-200: oklch(84.58% 0.005 228.83);
  --color-base-300: oklch(77.32% 0.007 233.67);
  --color-base-400: oklch(69.16% 0.01 232.44);
  --color-base-500: oklch(60.8% 0.011 229);
  --color-base-600: oklch(51.96% 0.011 232.53);
  --color-base-700: oklch(42.78% 0.008 233.82);
  --color-base-800: oklch(33.07% 0.005 236.67);
  --color-base-900: oklch(23.33% 0.004 228.96);
  --color-base-950: oklch(17.19% 0.002 197);

  --breakpoint-xs: 400px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3d3d3d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 10px;
}

.prose {
  @apply max-w-3xl;
}

.prose a {
  @apply transition-all decoration-gray-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full wrap-break-word rounded-none border-0 bg-transparent p-0 leading-normal text-sm text-black;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-slate-500/10;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-slate-500/10 p-1;
}

[data-rehype-pretty-code-title] {
  @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-gray-200 border-white/10;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none border-t-0;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply border border-white/10;
}

.prose .callout > p,
.prose figure {
  margin: 0 !important;
}

.prose pre [data-highlighted-line] {
  @apply bg-slate-500/10;
}

.prose pre [data-highlighted-chars] {
  @apply bg-green-500/50;
}

.prose pre [data-highlighted-chars][data-chars-id="alert"] {
  @apply bg-red-500/50;
}

.prose pre {
  @apply px-0 py-4;
}

.prose pre code span[data-line] {
  @apply px-4;
}
