.itemCont {
  padding-top: 24px;
}

.itemCont:first-child {
  padding-top: 0;
}

.item a {
  color: #fafafa;
}

.item a:hover {
  color: var(--main-color);
}

.timestamp {
  font-family: var(--sec-font);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.title {
  padding-top: 6px;
  font-size: var(--h3);
  letter-spacing: -0.25px;
}

.desc {
  margin: 0;
  padding-top: 6px;
}

.thumb {
  width: 75px;
  height: 75px;
}

article .timestamp {
  padding-top: 32px;
}

article .title {
  font-size: var(--h1);
  padding: 1rem 0 12px 0;
}

article .subtitle {
  font-size: var(--h3);
  font-weight: normal;
}

.content {
  margin: 32px 0;
}

.content ul,
.content ol {
  padding-inline-start: 40px;
}

.content ul li {
  list-style: disc;
}

.content ol li {
  list-style: decimal;
}

.content pre code {
  display: block;
  background: #25252f;
  white-space: pre;
  max-width: 100%;
  min-width: 100px;
  padding: 12px;
  border-radius: 5px;
}
