.itemContainter {
  margin-bottom: 32px;
}

.itemCont {
  padding-top: 24px;
}

.itemCont:first-child {
  padding-top: 0;
}

.itemCont a {
  color: #fafafa;
}

.itemCont a:hover img {
  opacity: 0.6;
  transition: 0.3s ease;
  transform: scale(1.1);
}

.cont {
  background: var(--cont-color);
  border-radius: 10px;
}

.cont img {
  border-radius: 10px 10px 0 0;
}

.title {
  padding: 12px 12px 0 12px;
  font-size: var(--h3);
  letter-spacing: -0.25px;
}

.desc {
  margin: 0;
  padding: 6px 12px 12px 12px;
}

.thumb {
  position: relative;
}

.tags {
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 2;
}

.tags span {
  background: var(--tags-color);
  padding: 5px;
  font-size: var(--tags-font-size);
  line-height: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-left: 6px;
}

article .timestamp {
  padding-top: 32px;
}

article .title {
  font-size: var(--h1);
  padding: 1rem 0 12px 0;
  line-height: 40px;
}

article .subtitle {
  font-size: var(--h3);
  font-weight: normal;
  line-height: 32px;
}

.content {
  margin: 16px 0 32px 0;
}

.content ul,
.content ol {
  padding-inline-start: 40px;
}

.content ul li {
  list-style: disc;
}

.content ol li {
  list-style: decimal;
}

.content pre code {
  display: block;
  background: #25252f;
  white-space: pre;
  max-width: 100%;
  min-width: 100px;
  padding: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.content hr {
  margin-bottom: 16px;
  border-color: #3d3d3d;
}
