.skillCont,
.kontak {
  margin-bottom: 24px;
}

.title {
  font-size: var(--h3);
  font-weight: normal;
  line-height: 1.625rem;
  letter-spacing: -0.25px;
  margin-bottom: 14px;
}

.item ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(98px, 1fr));
  gap: 20px;
}

.item ul li {
  background: #5b5e8d;
  width: 98px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
}

.kontak p {
  padding-bottom: 1rem;
}

.kontak ul {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.kontak ul li a {
  padding: 6px 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 7px;
}

.kontak ul li a {
  color: #fafafa;
}

.kontak ul li a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .kontak ul {
    flex-direction: row;
  }
}
