@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 h-full scroll-smooth bg-[#1c1e1f] p-0 text-base text-[#fafafa];
  }

  a {
    @apply text-cyan;
  }

  a:hover {
    @apply cursor-pointer;
  }

  #__next {
    @apply h-full;
  }

  #content {
    @apply flex h-full w-full flex-col;
  }

  #layout_content {
    @apply flex h-full w-full flex-col;
  }

  .main {
    flex: 1;
    min-height: 77vh;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #3d3d3d;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #616161;
    border-radius: 10px;
  }

  figure {
    @apply m-0 flex w-full items-center justify-center overflow-hidden p-0;
  }
}

@layer utilities {
  .errorSpotify span {
    cursor: pointer;
    @apply text-cyan;
  }

  .markdownAnchor {
    @apply absolute left-0 w-full text-gray no-underline after:invisible after:ml-[-1em] after:opacity-0 after:transition-all after:content-["#"] hover:after:opacity-100 md:after:visible;
  }
}

.linktreeIcon img {
  width: 1em !important;
  height: 1em !important;
}

.left {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left img {
  max-width: 150px;
  margin: 0;
}

.footer {
  border-top: 1px solid #3d3d3d;
  padding: 24px 0;
}

.errorSpotify span:hover {
  text-decoration: underline;
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  position: relative;
}

pre.shiki div.line {
  min-height: 1rem;
}

pre.shiki .language-id {
  display: none;
}
