@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --font: "Inter", sans-serif; */
  --font: "Montserrat", sans-serif;
  --sec-font: "Source Sans Pro", sans-serif;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.125rem;
  --nav-font-size: 14px;
  --tags-font-size: 12px;
  --main-color: #54b5ff;
  --sec-color: #5b5e8d;
  --cont-color: #323538;
  --tags-color: #5b5e8d;
  --header-height: 70px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  height: 100%;
  background-color: #1c1e1f;
  color: #fafafa;
  font-size: 1rem;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}

a {
  color: var(--main-color);
}

a:hover {
  cursor: pointer;
}

#__next {
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#layout_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
  min-height: 77vh;
}

.linktreeIcon img {
  width: 1em !important;
  height: 1em !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3d3d3d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 10px;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.left {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left img {
  max-width: 150px;
  margin: 0;
}

.footer {
  border-top: 1px solid #3d3d3d;
  padding: 24px 0;
}

.errorSpotify span {
  color: var(--main-color);
  cursor: pointer;
}

.errorSpotify span:hover {
  text-decoration: underline;
}

.truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.truncate-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  position: relative;
}

pre.shiki div.line {
  min-height: 1rem;
}

pre.shiki .language-id {
  display: none;
}

.markdownAnchor {
  @apply absolute left-0 w-full text-gray no-underline after:invisible after:ml-[-1em] after:opacity-0 after:transition-all after:content-["#"] hover:after:opacity-100 md:after:visible;
}
