.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #27292ceb;
  backdrop-filter: blur(10px);
}

.header a {
  color: #fafafa;
  font-weight: 600;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: var(--header-height);
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item {
  font-size: var(--nav-font-size);
  line-height: 20px;
}

.item:hover {
  font-weight: 700;
  transition: 0.3s ease;
  border-bottom: 1px solid #fafafa;
}

@media (min-width: 768px) {
  .display {
    display: flex;
    margin: auto 20px;
  }
}

@media (min-width: 1024px) {
  .display {
    max-width: 984px;
    margin: auto;
  }
}
